.form-container{
    width: 500px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 40px;
}
.form-title h2{
    text-align: center;
}
.form-control{
    margin-bottom: 10px;
}
.form-control label{
    display: block;
    font-size: 1.5rem;
}
.form-control input{
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1rem;
    padding-left: 10px;
}
.btn-submit{
    width: 415px;
    height: 55px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    font-size: 1rem;
}
.btn-submit:hover{
    background: rgba(255, 153, 0, 0.6);
}

.text-error{
    color: rgb(241, 101, 101);
}